<p id = "notice"><%= notice %></p>
<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model:@book, local:true do |f| %>
        <div class = "form-group">
          <label for ="book_title">Title</label>
          <input type = "text", name = "book[title]", class = "form-control", id = "book_title">
        </div>
        <div class = "form-group">
          <label for = "book_opinion">Opinion</label>
          <textarea name = "book[opinion]", class = "form-control text_body", id = "book_opinion"></textarea>
        </div>
        <div class = "form-group">
          <input type = "submit", name = "commit", value = "Update Book", class = "btn btn-success", data-disable-with = "Update book">
        </div>
      <% end %>
      <%= link_to 'Show', book_path %>
      |
      <%= link_to 'Back', books_path %>
    </div>
  </div>
</div>
